In [1]:
# Experiment Preparation

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

startdate_training = '2012-04-01'
enddate_training = '2020-05-01'

datasource = 'SPY'
data = yf.download(datasource,start = startdate_training,end = enddate_training)

[*********************100%***********************]  1 of 1 completed

In [2]:
def data_shift(data,target):
    data_shifted = data.drop([target],axis=1).shift()
    data_preprocessed = pd.concat([data_shifted,data[target]], axis=1)
    data_preprocessed.dropna(inplace=True)
    return data_preprocessed

In [3]:
data_preprocessed = data_shift(data,'Close')
data_preprocessed

,Open,High,Low,Adj Close,Volume,Close
Date,,,,,,
2012-04-03,140.639999,142.210007,140.360001,116.761986,151741100.0,141.259995
2012-04-04,141.639999,141.880005,140.429993,116.284561,155806700.0,139.860001
2012-04-05,140.220001,140.339996,139.339996,115.132072,146896000.0,139.789993
2012-04-09,139.380005,140.199997,139.259995,115.074425,137439400.0,138.220001
2012-04-10,138.029999,139.839996,137.839996,113.782021,127555900.0,135.899994
...,...,...,...,...,...,...
2020-04-24,280.489990,283.940002,278.750000,269.941376,104709700.0,282.970001
2020-04-27,280.730011,283.700012,278.500000,273.704041,85063200.0,287.049988
2020-04-28,285.119995,288.269989,284.619995,277.650421,77896600.0,285.730011
2020-04-29,291.019989,291.399994,285.399994,276.373718,105270000.0,293.209991
2020-04-30,291.529999,294.880005,290.410004,283.608734,118745600.0,290.480011

In [20]:
best_lag_list = [36, 30, 21, 19, 8]

In [15]:
def rearrange(X,lags):
    Re = np.empty((X.shape[0],0))
    target = X.iloc[:,-1]
    for i in lags:
        Re = np.concatenate((Re, X.shift(i)), axis = 1)                 
    Re = np.concatenate((Re, target.to_frame(name = 'Target')), axis = 1)
    Re = pd.DataFrame(Re).dropna()
    return Re

In [21]:
data_var = rearrange(data_preprocessed,best_lag_list)
data_var

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
36,140.639999,142.210007,140.360001,116.761986,151741100.0,141.259995,137.289993,137.539993,136.750000,112.777740,...,115.379021,136291600.0,140.389999,135.169998,136.869995,135.110001,111.633514,153032400.0,134.110001,132.529999
37,141.639999,141.880005,140.429993,116.284561,155806700.0,139.860001,137.130005,138.899994,137.029999,114.251259,...,115.568336,130725000.0,139.869995,134.309998,135.610001,133.910004,110.398689,163910000.0,133.339996,132.100006
38,140.220001,140.339996,139.339996,115.132072,146896000.0,139.789993,138.470001,138.820007,137.009995,112.892998,...,115.140327,115092200.0,140.740005,134.020004,134.809998,133.130005,109.764816,207629300.0,132.830002,133.699997
39,139.380005,140.199997,139.259995,115.074425,137439400.0,138.220001,137.839996,138.039993,136.580002,112.818878,...,115.856453,138832200.0,140.320007,133.940002,134.550003,132.800003,109.345009,207265500.0,130.860001,131.759995
40,138.029999,139.839996,137.839996,113.782021,127555900.0,135.899994,137.839996,139.360001,137.699997,114.489975,...,115.510704,121081000.0,139.250000,132.860001,133.020004,130.789993,107.723305,247992900.0,129.740005,131.470001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027,309.500000,313.839996,297.570007,288.710815,300139100.0,312.859985,280.700012,281.940002,270.880005,263.824646,...,252.646942,257632800.0,253.419998,277.140015,277.510010,271.410004,266.633453,114839100.0,283.790009,282.970001
2028,306.119995,313.100006,303.329987,300.846222,176613400.0,302.459991,256.000000,266.660004,247.679993,238.582596,...,245.121674,224341200.0,261.649994,280.980011,284.899994,275.510010,274.497192,134143400.0,277.760010,287.049988
2029,304.980011,308.470001,300.010010,290.845551,186366800.0,297.459991,263.089996,271.480011,248.520004,258.978210,...,253.082169,171369500.0,257.750000,277.570007,283.940002,275.459991,268.664612,121775000.0,279.100006,285.730011
2030,293.149994,298.779999,290.230011,286.037598,228667200.0,274.230011,241.179993,256.899994,237.360001,230.639801,...,249.309906,194881100.0,246.149994,279.149994,280.029999,275.760010,269.960754,131798300.0,286.640015,293.209991
2031,275.299988,284.190002,273.450012,263.699615,309417300.0,288.420013,245.039993,256.170013,237.070007,243.092514,...,238.089722,189554600.0,251.830002,285.380005,287.299988,282.399994,277.253906,146684800.0,281.589996,290.480011

In [22]:
startdate_testing = '2020-05-01'
enddate_testing = '2022-06-01'
data_1 = yf.download(datasource,start = startdate_testing,end = enddate_testing)

[*********************100%***********************]  1 of 1 completed

In [23]:
data_preprocessed_1 = data_shift(data_1,'Close')

In [24]:
data_var_1 = rearrange(data_preprocessed_1,best_lag_list)
data_var_1

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
36,291.709991,293.320007,288.589996,280.968109,122901700.0,282.790009,291.089996,292.950012,289.859985,282.863953,...,289.286469,88951400.0,303.529999,321.420013,322.390015,318.220001,308.554230,95000800.0,300.609985,312.049988
37,285.309998,290.660004,281.519989,273.529938,125180000.0,283.570007,290.339996,294.000000,289.880005,282.921997,...,293.590820,104817400.0,302.970001,311.459991,312.149994,300.010010,290.766388,209243600.0,304.209991,304.089996
38,280.739990,283.899994,279.130005,274.284393,80873200.0,286.190002,293.790009,294.239990,286.519989,277.282898,...,293.049103,90405200.0,304.320007,308.239990,309.079987,298.600006,294.248535,194678900.0,307.049988,307.350006
39,286.640015,289.250000,283.709991,276.818604,79569900.0,284.250000,286.059998,287.190002,278.959991,272.378906,...,294.354919,119090800.0,305.549988,298.019989,308.279999,296.739990,296.995514,135782700.0,312.959991,300.049988
40,288.040009,288.459991,283.779999,274.942139,73632600.0,287.679993,278.950012,285.109985,272.989990,275.638519,...,295.544617,55758300.0,308.079987,315.480011,315.640015,307.670013,302.712036,137627500.0,311.660004,304.459991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,457.890015,458.760010,451.160004,449.697449,121699900.0,452.920013,447.970001,450.630005,445.940002,445.644958,...,414.310303,103996300.0,417.269989,398.070007,404.040009,391.959991,391.060730,142361000.0,392.339996,393.890015
521,453.309998,453.459991,449.140015,450.971954,89048800.0,456.799988,444.109985,445.000000,439.390015,438.027863,...,415.475250,122030000.0,427.809998,389.369995,395.799988,385.149994,390.652496,125090800.0,401.720001,397.369995
522,453.130005,456.910004,452.260010,454.835236,59601000.0,451.029999,443.079987,445.750000,436.649994,436.404877,...,425.969940,105449100.0,412.000000,396.709991,403.179993,395.609985,399.992157,104174400.0,400.089996,405.309998
523,455.220001,457.829987,449.820007,449.090057,74214500.0,446.519989,438.029999,444.109985,437.839996,441.403259,...,410.227936,145491100.0,414.480011,399.980011,403.970001,397.600006,398.369171,78622400.0,408.320007,415.260010
524,446.890015,448.929993,443.470001,444.599457,106898000.0,448.769989,443.549988,444.730011,437.679993,435.907013,...,412.697266,158312500.0,416.380005,406.529999,408.570007,402.579987,406.563782,83029700.0,391.859985,412.929993

In [25]:
# 1996 + 489
# Covariance matrix

data_var_all = pd.concat([data_var,data_var_1], axis=0)

from pathlib import Path
filepath = Path('C:/Users/82422/OneDrive/internship/Optimal_Lag/Data/Data_VAR.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
data_var_all.to_csv(filepath)